/* External Sheet for Serialcomm.php */

body  { background-image:url('images/green.jpg');
       background-color:white;
      }
       
h1  { font-size:70px;
      font-family: cursive,arial;
      
      text-shadow: 0 6px 6px dimgrey;

.button  {	
	    background-color:#339900; 
	    width=30em;
	    color: #fff;
		font-size: 24px;
		font-family: verdana;
		font-weight: bold;
		cursor: pointer;
		position: fixed;
		top:83%;
	    left:45.4%;
		display: block;
		display: block; margin-left: auto; margin-right: auto; 
		border: 1px solid rgb(28, 108, 122) ;
		padding: 8px 5px;
		margin-bottom: 10px;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;	
	    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	                        0px 0px 0px 3px rgb(254, 254, 254),
	                        0px 5px 3px 3px rgb(210, 210, 210);
	   	-moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	                    0px 0px 0px 3px rgb(254, 254, 254),
	                    0px 5px 3px 3px rgb(210, 210, 210);
	    box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        	   0px 0px 0px 3px rgb(254, 254, 254),
	        	   0px 5px 3px 3px rgb(210, 210, 210);
	    -webkit-transition: all 0.2s linear;
	    -moz-transition: all 0.2s linear;
	    -o-transition: all 0.2s linear;
	    transition: all 0.2s linear;
        }

table.choicetable {
	font-family: verdana,arial,sans-serif;
	font-size:25px;
	color:red;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.choicetable th {
	
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.choicetable td {
	
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}