/* External Style Sheet*/
		
body  { background-image:url('images/textdust.jpg');
       background-color:#D3D3D3;
	 }
h1  { font-size:70px;
	 font-family: cursive,arial;
	 color:MidnightBlue;
     text-shadow: 0 6px 6px dimgrey;
   }
   
h3{
  font-size:70px;
	 font-family: cursive,arial;
     text-shadow: 0 6px 6px dimgrey;
     color:MidnightBlue;
     position: fixed;
     top:30%;
     left:23%;


}
h4{
font-size:20px;
	 font-family: cursive,arial;
     text-shadow: 0 6px 6px dimgrey;
     color:MidnightBlue;
     position: fixed;
     top:70%;
     left:26%;




}   
p  { font-size:50px;
     font-family: cursive,arial;
     text-shadow: 0 6px 6px dimgrey;
     color:MidnightBlue;
     position:fixed;
     left:22%;
     top:35%;
  }
#pay { font-size:50px;
     font-family: cursive,arial;
     text-shadow: 0 6px 6px dimgrey;
     position:fixed;
     left:5%;
     top:35%;
  

} 
	 
button  {	
	    background-color:DarkRed ; 
	    width=30em;
	    color: #fff;
		font-size: 24px;
		font-family: verdana;
		font-weight: bold;
		cursor: pointer;
		position: fixed;
		top:83%;
	        left:45.4%;
		display: block;
		display: block; margin-left: auto; margin-right: auto; 
		border: 1px solid rgb(28, 108, 122) ;
		padding: 8px 5px;
		margin-bottom: 10px;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;	
	    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	                        0px 0px 0px 3px rgb(254, 254, 254),
	                        0px 5px 3px 3px rgb(210, 210, 210);
	   	-moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	                    0px 0px 0px 3px rgb(254, 254, 254),
	                    0px 5px 3px 3px rgb(210, 210, 210);
	    box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        	   0px 0px 0px 3px rgb(254, 254, 254),
	        	   0px 5px 3px 3px rgb(210, 210, 210);
	    -webkit-transition: all 0.2s linear;
	    -moz-transition: all 0.2s linear;
	    -o-transition: all 0.2s linear;
	    transition: all 0.2s linear;
        }
.button{	
	    background-color:Maroon  ; 
	    width=30em;
	    color: #fff;
		font-size: 24px;
		font-family: verdana;
		font-weight: bold;
		cursor: pointer;
		position: fixed;
		top:83%;
	    left:46%;
		display: block;
		display: block; margin-left: auto; margin-right: auto; 
		border: 1px solid rgb(28, 108, 122) ;
		padding: 8px 5px;
		margin-bottom: 10px;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;	
	    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	                        0px 0px 0px 3px rgb(254, 254, 254),
	                        0px 5px 3px 3px rgb(210, 210, 210);
	   	-moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	                    0px 0px 0px 3px rgb(254, 254, 254),
	                    0px 5px 3px 3px rgb(210, 210, 210);
	    box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        	   0px 0px 0px 3px rgb(254, 254, 254),
	        	   0px 5px 3px 3px rgb(210, 210, 210);
	    -webkit-transition: all 0.2s linear;
	    -moz-transition: all 0.2s linear;
	    -o-transition: all 0.2s linear;
	    transition: all 0.2s linear;
        }        
button:hover  { background-color:rgb(154,205,50);}
.button:hover  { background-color:#DAA520;}
img { display: block; margin-left: auto; margin-right: auto; 
      height:610px;
      width:700px;
	 position:fixed;
	 left:27%;
	 top:10%;
   }
table  { border: 1px;
         table-layout: fixed;
         width: 550px;
         font-family: verdana; 
         font-size: 20px;
         color:MidnightBlue;
     }
th,td { border: 1px ;
        padding:15px;
        overflow: hidden;
        width: 40px;
        color:MidnightBlue;
     }